<footer>
    <div class="footer-container">
        <div class="footer-section about">
            <h2>Fit Zone</h2>
            <p>
                Transforma tu vida con nuestra amplia gama de máquinas de gimnasio.
            </p>
        </div>
        <div class="footer-section links">
            <h2>Enlaces Rápidos</h2>
            <ul>
                <li><a routerLink = "/inicio" style="color: #fff; text-decoration: none;">Inicio</a></li>
                <li><a routerLink = "/maquinas" style="color: #fff; text-decoration: none;">Maquinas</a></li>
                <li><a routerLink = "/bancos" style="color: #fff; text-decoration: none;">Bancos</a></li>
                <li><a routerLink = "/cardio" style="color: #fff; text-decoration: none;">Cardio</a></li>
            </ul>
        </div>
        <div class="footer-section contact">
            <h2>Contacto</h2>
            <ul>
                <li><i class="fa fa-map-marker"></i> Dirección: Colombia 1788 , Cipolletti</li>
                <li><i class="fa fa-phone"></i> Teléfono: +54 1 234 5678</li>
                <li><i class="fa fa-envelope"></i> Email: info@fitzone.com</li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2024 FitZone. Todos los derechos reservados.
    </div>
</footer>
