<footer style="background-color: #000000; color: #fff; padding: 20px 0; text-align: center;" >
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>FitZone</h3>
                <p>Transforma tu vida con nuestra amplia gama de máquinas de gimnasio.</p>
            </div>
            <div class="col">
                <h4>Enlaces</h4>
                <ul style="list-style: none; padding: 0;">
                    <li><a routerLink = "/inicio" style="color: #fff; text-decoration: none;">Inicio</a></li>
                    <li><a routerLink = "/maquinas" style="color: #fff; text-decoration: none;">Maquinas</a></li>
                    <li><a routerLink = "/bancos" style="color: #fff; text-decoration: none;">Bancos</a></li>
                    <li><a routerLink = "/cardio" style="color: #fff; text-decoration: none;">Cardio</a></li>
                </ul>
            </div>
            <div class="col">
                <h4>Contáctanos</h4>
                <p>Email: info@fitzone.com</p>
                <p>Teléfono: +123 456 7890</p>
            </div>
        </div>
        <div class="social-media" style="margin-top: 20px;">
            <a href="#" style="color: #fff; margin: 0 10px; text-decoration: none;">Facebook</a>
            <a href="#" style="color: #fff; margin: 0 10px; text-decoration: none;">Instagram</a>
            <a href="#" style="color: #fff; margin: 0 10px; text-decoration: none;">Twitter</a>
        </div>
    </div>
    <div style="margin-top: 20px; font-size: 14px;">
        &copy; 2024 FitZone. Todos los derechos reservados.
    </div>
</footer>
