
/*#################################### ESTILOS CONTENEDOR PRINCIPAL ####################################*/
.container {
    text-align: center; /* Centra el texto horizontalmente dentro del contenedor */
    justify-content: center; /* Centra los elementos hijos horizontalmente cuando se usa display: flex */
    display: flex; /* Aplica el modelo de caja flexible, permitiendo una alineación y distribución más eficiente de los elementos hijos */
}


/*#################################### ESTILOS PARA EL TITULO "PRODUCTOS DESTACADOS" ####################################*/
h1 {
    padding: 1rem; /* Añade un relleno interno de 1 rem alrededor del h1 */
    font-family: fantasy;
    font-size: 2.5em; /* Establece el tamaño de la fuente a 2.5 veces el tamaño de la fuente base */
    text-align: center; /* Centra el texto horizontalmente */
    margin-bottom: 20px; /* Añade un margen inferior de 20 píxeles */
    text-transform: uppercase; /* Convierte todo el texto a mayúsculas */
    letter-spacing: 2px; /* Añade un espaciado de 2 píxeles entre las letras */
    background: linear-gradient(to right, #333333, #5bb7b6); /* Aplica un gradiente lineal de izquierda a derecha */
    -webkit-background-clip: text; /* Hace que el fondo del gradiente solo se aplique al texto (Webkit) */
    -moz-background-clip: text; /* Hace que el fondo del gradiente solo se aplique al texto (Mozilla) */
    background-clip: text; /* Hace que el fondo del gradiente solo se aplique al texto (estándar) */
    color: transparent; /* Hace que el color del texto sea transparente, permitiendo que el gradiente sea visible */
    transition: color 0.3s ease, text-shadow 0.3s ease; /* Añade una transición suave para el color y la sombra del texto */
    animation: gradient-animation 5s infinite; /* Añade una animación de gradiente */
    cursor: default;
}

/* Efecto al pasar el cursor sobre el h1 */
h1:hover {
    color: #333333; /* Cambia el color del texto a gris oscuro */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Añade una sombra al texto */
}

/* Responsividad para pantallas más pequeñas */
@media (max-width: 700px) {
    h1 {
        font-size: 2em; /* Reduce el tamaño de la fuente a 2em en pantallas pequeñas */
        padding: 0.8rem; /* Reduce el padding para ajustarse mejor a la pantalla */
        letter-spacing: 1.5px; /* Reduce el espaciado entre letras */
    }
}

/* Para pantallas muy pequeñas (ej. celulares en orientación vertical) */
@media (max-width: 400px) {
    h1 {
        font-family: fantasy;
        font-size: 1.5em; /* Reduce aún más el tamaño de la fuente */
        padding: 0.6rem; /* Ajusta el padding para no sobrecargar la pantalla */
        letter-spacing: 1px; /* Reduce el espaciado entre letras aún más */
    }
}



/*#################################### ESTILOS CARRUSEL ####################################*/
/* RESPONSIVIDAD  */
@media (max-width: 360px) {
    .carousel{
        max-width: 100%;
    }
}





/*#################################### ESTILOS CARRUSEL INFINITO ####################################*/

.mi-carrusel {
    overflow: hidden;
    width: 100%;
}

.mi-carrusel img {
    width: 10%; /* Ajusta este valor según el tamaño deseado */
    transition: transform 0.5s ease, filter 0.5s ease;
    filter: grayscale(100%);
}

.mi-carrusel img:hover {
    filter: grayscale(0%);
}

@keyframes mi-slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.mi-carrusel-inner {
    display: flex;
    animation: mi-slide 20s linear infinite;
}

.mi-carrusel-inner img {
    min-width: 10%; /* Ajusta este valor según el tamaño deseado */
}


/*#################################### ESTILOS PARA imagen1 ####################################*/

/* Dispositivos más grandes (ej.: computadora) */
@media (min-width: 700px) {
    .imagen1 {
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center;    /* Centra verticalmente */
        height: 30vh;           /* Ajusta la altura según sea necesario */
        background-color: black;
    }

    .imagen1 img {
        max-width: 600px; /* Ajusta este valor al tamaño máximo de las imágenes */
        width: 100%;      /* Asegura que la imagen no exceda el contenedor */
        height: auto;     /* Mantiene la relación de aspecto */
    }
}




/* Dispositivos pequeños (ej.: celular) */
@media (min-width: 300px) and (max-width: 700px) {
    .imagen1 {
        display: flex;                /* Mantiene las imágenes en línea (horizontal) */
        justify-content: center;      /* Centra las imágenes horizontalmente */
        align-items: center;          /* Centra las imágenes verticalmente */
        height: 10vh;                 /* Mantiene la altura del contenedor */
        background-color: black;
        gap: 10px;                    /* Añade espacio entre las imágenes */
        padding: 10px;                /* Añadir relleno en los lados */
    }

    .imagen1 img {
        width: 45%;                   /* Las imágenes ocuparán el 45% del contenedor, con espacio entre ellas */
        margin-bottom: 10px; /* Añadir un espacio entre las imágenes */
        height: auto;                 /* Mantiene la relación de aspecto */
    }
}