/* Estilos globales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333333;
    background-color: #f4f4f4;
}

/* Sección Sobre Nosotros */
#sobre-nosotros {
    position: relative;
    min-height: 100vh; /* Altura mínima en lugar de fija */
    background: url('https://images.pexels.com/photos/791763/pexels-photo-791763.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto; /* Agregar scroll si el contenido excede la altura */
}

#sobre-nosotros .overlay {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9); /* Mayor opacidad */
    padding: 40px; /* Mayor espacio interno */
    border-radius: 10px;
    max-width: 90%; /* Adaptable a pantallas más pequeñas */
    color: #222222; /* Texto más oscuro para mejor contraste */
}

#sobre-nosotros h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 20px;
    text-transform: uppercase;
    color: #3F51B5; /* Azul más oscuro para mayor contraste */
    line-height: 1;
}

#sobre-nosotros p {
    font-size: 1.2em;
    line-height: 1.8;
    margin-bottom: 20px;
    color: #555555;
}

/* Dispositivos móviles */
@media (min-width: 300px) and (max-width: 700px) {
    #sobre-nosotros {
        min-height: auto; /* Ajuste automático en móviles */
        padding: 20px 0;
    }

    #sobre-nosotros h1 {
        font-size: 1.5em;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    #sobre-nosotros p {
        font-size: 0.9em;
        margin-bottom: 10px;
    }

    #sobre-nosotros .overlay {
        padding: 15px;
        max-width: 90%;
    }
}

/* Dispositivos más grandes */
@media (min-width: 700px) {
    #sobre-nosotros .overlay {
        max-width: 800px; /* Más espacio en pantallas grandes */
    }

    #sobre-nosotros h1 {
        font-size: 3em;
    }

    #sobre-nosotros p {
        font-size: 1.2em;
    }
}
