<section id="sobre-nosotros">
    <div class="overlay">
        <h1>Tu camino hacia la excelencia fitness</h1>
        <p>
            En <strong>Fitzone</strong>, revolucionamos el entrenamiento con máquinas de gimnasio de última tecnología.  
            Desde equipos para gimnasios profesionales hasta soluciones para el hogar, te ayudamos a alcanzar tus objetivos con calidad e innovación.  
            ¡Sé parte de nuestra visión de fitness transformador!
        </p>
        <p>
            Nuestro catálogo incluye una amplia variedad de máquinas de gimnasio diseñadas para satisfacer las necesidades de todos, desde principiantes hasta atletas profesionales.  
            Nos enorgullecemos de ofrecer equipos de la más alta calidad, con tecnología avanzada que garantiza un rendimiento óptimo y duradero.
        </p>
        <p>
            En <strong>Fitzone</strong>, creemos que el equipamiento adecuado es la clave para alcanzar cualquier meta de fitness.  
            Por eso, nuestros productos están diseñados para proporcionar una experiencia de entrenamiento inigualable, adaptándose a cualquier espacio y estilo de vida.
        </p>
        <p>
            Ya sea que busques una máquina de cardio, una estación de pesas, o equipos multifuncionales, en <strong>Fitzone</strong> encontrarás lo que necesitas para llevar tu entrenamiento al siguiente nivel.  
            Explora nuestras opciones y descubre cómo nuestros productos pueden ayudarte a transformar tu rutina de ejercicios.
        </p>
    </div>
</section>
