/* Estilos para el contenedor principal */
.container {
    text-align: center; /* Centra el texto horizontalmente dentro del contenedor */
    justify-content: center; /* Centra los elementos hijos horizontalmente cuando se usa display: flex */
    display: flex; /* Aplica el modelo de caja flexible, permitiendo una alineación y distribución más eficiente de los elementos hijos */
}


.gif {
    text-align: center;
    margin-top: 20px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(48%) sepia(69%) saturate(511%) hue-rotate(86deg) brightness(93%) contrast(99%);
    }